* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    padding: 40px;
    color: white;
    background-color: rgba(164, 193, 222, 0.789);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: inherit;
    text-decoration: none;
}

.image_summer {
    background-image: url(https://www.debrareble.com/wp/wp-content/uploads/2014/07/Sunlight-Forest-Woods-Nature-Sunshine-Sunrise.jpg);
}

.section {
    position: relative;
    height:100vh;
    background-size: cover;
}

.meta {
    position: absolute;
    bottom: 120px;
    left: 50px;
    color: rgb(164, 193, 222);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width:350px;
}

.image_autumn {
    background-image: url(https://media.istockphoto.com/id/1176602671/photo/falling-autumn-leaves-before-sunset.jpg?s=612x612&w=0&k=20&c=q5syXIvFQOw1VQjXKZifqNkM44pkv7Gu8TG52TG7e7s=);
}

.image_winter {
    background-image: url(https://t3.ftcdn.net/jpg/01/33/14/66/360_F_133146697_8ccl7BypSDYT9Ra0Zi3uIFBWXkQTYI0X.jpg);
}

.image_spring {
    background-image: url(https://media.istockphoto.com/id/1132264290/photo/walking-path-under-the-beautiful-sakura-tree-or-cherry-tree-tunnel-in-tokyo-japan.jpg?s=612x612&w=0&k=20&c=7AaKcDJmyfbUTDQaX7CllfMKG_Ux5uLB-a8mYK6ZesM=);
}